.header-main {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 90px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    font-size: 24px;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.res-card {
    width: 250px;
    /* height: 400px; */
    padding: 5px;
    margin: 2px;
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}



.res-logo {
    width: 250px;
}

.shimmer-container {
    flex-wrap: wrap;
    display: flex;
}

.shimmer-card {
    border: 1px solid gray;
    width: 250px;
    height: 400px;
    padding: 5px;
    margin: 2px;
}

.btn-login {
    cursor: pointer;
}

.search {
    display: flex;
    margin: 2px 10px;

}

.search input {
    margin: 2px 10px;
}

.search-btn {
    cursor: pointer;
    margin: 2px 10px;
}
.serach-top-rated {
    display: flex;
    margin: 5px 0px;
}
.top-rated-btn {
    margin: 2px 10px;
}

.user-class {
    padding: 1px;
    border: 1px solid black;
}
.user-fun {
    padding: 1px;
    border: 1px solid black;
}